/UnityProject/Temp
/HSYErpBase/bin
/HSYErpBase/obj
/TtaWcfServer/TtaCommonLibrary/bin
/TtaWcfServer/TtaCommonLibrary/obj
/TtaWcfServer/TtaPesistanceLayer/bin
/TtaWcfServer/TtaPesistanceLayer/obj
/TtaWcfServer/TtaWcfServer/bin
/TtaWcfServer/TtaWcfServer/obj
